# ==========================================
# Variables de Entorno - Base de Datos
# ==========================================
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=EscribeTuContrasenaAqui
DB_NAME=inventario_db
DB_PORT=5432

# ==========================================
# Variables de Entorno - Servidor Backend
# ==========================================
PORT=3000
